*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Helvetica Neue',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}

body{
    background-color: aliceblue;
}

.main-container{
    width: 100vw;
    min-height: 100vh;
}

.wrapper{
    width: clamp(300px,100%,1400px);
    margin: 0 auto;
    padding: 8px 12px;
}

header{
    font-size: 1.75rem;
    padding: 3rem 0;
}

main{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cards{
    padding: 8px 12px;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 0px 12px -4px rgb(153, 153, 153);
    transition: all 300ms ease;
}

.cards:hover{
    background-color: rgb(238, 255, 221);
}

.card-top{
    display: flex;
    justify-content: space-between;
}

button{
    color: white;
    padding: 6px 12px;
    background-color: rgb(55, 97, 12);
    border: none;
    border-radius: 12px;
}

.image-sec{
    width: 100%;
    aspect-ratio: 16/9;
    background: url('./images/background.jpg') no-repeat center/cover;
    border-radius: 1rem;
}

time{
    color: grey;
}

.heading{
    font-size: 1.5rem;
    font-weight: 600;
}

.content{
    font-size: 1.2rem;
    color: grey;
}

img{
    width: 42px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
    translate: -50% 0%;
}

img:nth-of-type(odd){
    translate: none;
}

#pink{
    background-color: #e80780;
}
#green{
    background-color: #52bc3e;
}
#blue{
    background-color: #25b5f3;
}